div
  = f.label :cameramodel_id
  = f.collection_select :cameramodel_id, @cameramodels, :id, :fullname, { prompt: true }
  = f.label "Видимый"
  = f.check_box :visible
div
  = f.label "Цена:"
  = f.number_field :price, size: 61
  = f.label "Б/у"
  = f.check_box :used
div
  = f.label "Описание:"
  = f.text_field :description, size: 61
div
  = f.label "Изображение:"
  = f.file_field :image