- unless @cameraitems.empty?
  h1 Фотоаппараты:
  table class="table" id="cameraitems"
    thead
      tr
        th Фото:
        th Mount:
        th Brand:
        th Name:
        th Цена:
    tbody
      - @cameraitems.each do |cameraitem|
        tr
          td = image_tag cameraitem.image.thumb
          td = cameraitem.cameramodel.mount
          td = cameraitem.cameramodel.brand
          td = link_to (cameraitem.cameramodel.name), cameraitem_path(cameraitem)
          td = link_to (cameraitem.price), cameraitem_path(cameraitem)
- else
  h4 Нет фотоаппаратов в продаже!