h2
  i &nbsp;
  = link_to ('<< '), cameramodel_path(@cameramodel)
  = (@cameramodel.mount + ' ' + @cameramodel.brand + ' ' + @cameramodel.name)
br
- if can?(:update, @cameraitem)
  = link_to "Редактировать?", edit_cameraitem_path(@cameraitem)
  i &nbsp; или &nbsp;
  = link_to "Удалить?", @cameraitem, method: :delete, data: {confirm: "Подтверждение удаления"}
div
  i Цена:&nbsp;
  = @cameraitem.price
  i &nbsp рублей
div
  i Б.у.:&nbsp;
  = @cameraitem.used
div
  i Описание:&nbsp;
  = @cameraitem.description
div
  i email:&nbsp
  = link_to (@cameraitem.user.email), user_path(@cameraitem.user_id)
div
  = image_tag @cameraitem.image.normal
= render 'comments/list', parent: @cameraitem