div
  = f.label :mount
  = f.text_field :mount, size: 61
div
  = f.label :brand
  = f.text_field :brand, size: 61
div
  = f.label :name
  = f.text_field :name, size: 61
div
  = f.label :ff
  = f.check_box :ff
  = f.label :weather
  = f.check_box :weather
div
  = f.label :link1
  = f.text_field :link1, size: 61
div
  = f.label :link2
  = f.text_field :link2, size: 61