h1 Фотоаппараты:
div class="left-column"
  - unless @camera_a.empty?
    h2 A-mount:
    - @camera_a.each do |cameramodel|
      .cams
        = cameramodel.brand + " "
        = link_to (cameramodel.name), cameramodel_path(cameramodel)
        font color='red' = " " + cameramodel.quantity.to_s unless cameramodel.quantity == 0
  - else
    h4 Список пуст! зайди в rails консоль на сервере и добавь вручную!
div class="right-column"
  - unless @camera_e.empty?
    h2 E-mount:
    - @camera_e.each do |cameramodel|
      .cams
        = cameramodel.brand + " "
        = link_to (cameramodel.name), cameramodel_path(cameramodel)
        font color='red' = " " + cameramodel.quantity.to_s unless cameramodel.quantity == 0
  - else
    h4 Список пуст! зайди в rails консоль на сервере и добавь вручную!
