= link_to "Редактировать?", edit_cameramodel_path(@cameramodel)
i &nbsp; или &nbsp;
= link_to "Удалить?", @cameramodel, method: :delete, data: {confirm: "Подтверждение удаления"}
h2 = (@cameramodel.mount + ' ' + @cameramodel.brand + ' ' + @cameramodel.name + ' ' + @cameramodel.quantity.to_s)
- unless @cameraitems.empty?
  table class="table" id="cameraitems"
    thead
      tr
        th Фото:
        th Пользователь email:
        th Цена:
        th Создан:
        th Изменен:
    tbody
      - @cameraitems.each do |cameraitem|
        tr
          td = image_tag cameraitem.image.thumb
          td = link_to (cameraitem.user.email), user_path(cameraitem.user_id)
          td = link_to (cameraitem.price), cameraitem_path(cameraitem)
          td = cameraitem.created_at.strftime("%d.%m.%Y")
          td = cameraitem.updated_at.strftime("%d.%m.%Y") if cameraitem.created_at != cameraitem.updated_at
- else
  h4 Таких фотоаппаратов в продаже пока НЕТ!
= render 'comments/list', parent: @cameramodel