- if comment.persisted?
  = div_for comment do
    = comment.created_at.strftime("%d.%m.%Y %H:%M")
    i &nbsp;
    font color="#1C00b0"
      b = comment.user.nickname
      i &nbsp;
    - if can?(:edit, comment)
      = link_to 'Edit?', '', class: 'btn btn-default btn-xs edit-comment-link', data: { comment_id: comment.id }, remote: true
      - if can?(:create, Lensmodel)
        = link_to 'X?', comment, method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: "Подтверждение удаления"}, remote: true
    i &nbsp;
    = comment.body
    i &nbsp;
    - comment.attachments.each do |a|
      i id="attachment_#{a.id}"
        = link_to ("(" + "#{a.file.file.filename}" + ")"), a.file.url
    - if can?(:update, comment)
      = form_for comment, method: "patch", remote: true, html: { id: "edit-comment-#{comment.id}" } do |f|
        p = link_to 'Удалить комментарий?', comment, method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: "Подтверждение удаления"}, remote: true
        = f.text_area :body, size: "30"
        - comment.attachments.each do |a|
          i id="attachment_del_link_#{a.id}"
            p = link_to "Удалить файл #{a.file.file.filename} ?", attachment_path(a), method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: "Подтверждение удаления"}, remote: true
        = f.fields_for :attachments, f.object.attachments.build do |a|
          = a.file_field :file
        = f.submit 'Сохранить'