.comments
  i Комментарии:&nbsp;
  = parent.comments.count
  = render parent.comments.sorted_comments
- if current_user
  = form_for [parent, parent.comments.build ], remote: true do |f|
    = f.label :body, 'Comment'
    .comment-errors
    = f.text_area :body
    = f.fields_for :attachments, f.object.attachments.build do |a|
      = a.label :file
      = a.file_field :file
    = f.submit 'Комментировать'
= subscribe_to "/#{parent}/#{parent.id}/comments"