<% if @comment.errors.present? %>
    <% @comment.errors.full_messages.each do |message| %>
        $('.comment-errors').html('<%= j message %>');
    <% end %>
<% else %>
    $('.comments').append('<%= j render @comment, parent: @parent %>');
    $('.new_comment #comment_body').val('');
<% end %>