<% if @comment.errors.present? %>
    <% @comment.errors.full_messages.each do |message| %>
        $('.comment-errors').html('<%= j message %>');
    <% end %>
<% else %>
    $('#comment_<%= @comment.id %>').replaceWith('<%= j render @comment %>');
<% end %>