- unless @users.empty?
  h1 Пользователи:
  table class="table" id="users"
    thead
      tr
        th id:
        th user:
        th объективы:
        th камеры:
        th комментарии:
    tbody
      - @users.each do |user|
        tr
          td = user.id
          td = link_to (user.nickname), user_path(user)
          td = user.lensitems.size
          td = user.cameraitems.size
          td = user.comments.size
- else
  h4 Список пуст!
