h2 = @user.email
- unless @user.cameraitems.empty?
  table class="table"
    - @user.cameraitems.each do |cameraitem|
      tr
        td = image_tag cameraitem.image.minithumb
        td = cameraitem.cameramodel.brand + " " + cameraitem.cameramodel.name
        td = link_to (cameraitem.price), cameraitem_path(cameraitem)
        td = cameraitem.created_at.strftime("%d.%m.%Y")
        td = cameraitem.updated_at.strftime("%d.%m.%Y") if cameraitem.created_at != cameraitem.updated_at
- unless @user.lensitems.empty?
  table class="table"
    - @user.lensitems.each do |lensitem|
      tr
        td = image_tag lensitem.image.minithumb
        td = lensitem.lensmodel.mount
        td = lensitem.lensmodel.brand + " " + lensitem.lensmodel.name
        td = link_to (lensitem.price), lensitem_path(lensitem)
        td = lensitem.created_at.strftime("%d.%m.%Y")
        td = lensitem.updated_at.strftime("%d.%m.%Y") if lensitem.created_at != lensitem.updated_at
= render 'comments/list', parent: @user


