div
  = f.label :lensmodel_id
  = f.collection_select :lensmodel_id, @lensmodels, :id, :fullname, { prompt: true }
div
  = f.label "Цена:"
  = f.number_field :price, size: 61
  = f.label "Б/у"
  = f.check_box :used, size: 61
  = f.label "Видимый"
  = f.check_box :visible
div
  = f.label "Описание:"
  = f.text_field :description, size: 61
div
  = f.label "Изображение:"
  = f.file_field :image
