- unless @lensitems.empty?
  h1 Объективы:
  table class="table" id="lensitems"
    thead
      tr
        th Фото:
        th Mount:
        th Brand:
        th Наименование:
        th Цена:
        th min:
        th max:
        th min:
        th max:
    tbody
      - @lensitems.each do |lensitem|
        tr
          td = image_tag lensitem.image.thumb
          td = lensitem.lensmodel.mount
          td = lensitem.lensmodel.brand
          td = link_to (lensitem.lensmodel.name), lensitem_path(lensitem)
          td = link_to (lensitem.price), lensitem_path(lensitem)
          td = lensitem.lensmodel.frmin
          td = lensitem.lensmodel.frmax if lensitem.lensmodel.frmin != lensitem.lensmodel.frmax
          td = lensitem.lensmodel.diafmin
          td = lensitem.lensmodel.diafmax if lensitem.lensmodel.diafmin != lensitem.lensmodel.diafmax
- else
  h4 Нет объективов в продаже!