h2
  i &nbsp;
  = link_to ('<< '), lensmodel_path(@lensmodel)
  = (@lensmodel.mount + ' ' + @lensmodel.brand + ' ' + @lensmodel.name)
br
- if can?(:update, @lensitem)
  = link_to "Редактировать?", edit_lensitem_path(@lensitem)
  i &nbsp; или &nbsp;
  = link_to "Удалить?", @lensitem, method: :delete, data: {confirm: "Подтверждение удаления"}
div
  i Цена:&nbsp;
  = @lensitem.price
  i &nbsp рублей
div
  i Б.у.:&nbsp;
  = @lensitem.used
div
  i Описание:&nbsp;
  = @lensitem.description
div
  i email:&nbsp
  = link_to (@lensitem.user.email), user_path(@lensitem.user_id)
div
  = image_tag @lensitem.image.normal
= render 'comments/list', parent: @lensitem