// Place all the styles related to the Cameramodels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left-column {
  display: inline-block;
  vertical-align: top;
  }
.right-column {
  display: inline-block;
  vertical-align: top;
  }
