div
  = f.label :mount
  = f.text_field :mount, size: 61
div
  = f.label :brand
  = f.text_field :brand, size: 61
div
  = f.label :name
  = f.text_field :name, size: 61
div
  = f.label :frmin
  = f.number_field :frmin
  = f.label :frmax
  = f.number_field :frmax
  = f.label :ff
  = f.check_box :ff
  = f.label :fix
  = f.check_box :fix
div
  = f.label :diafmin
  = f.number_field(:diafmin, in: 0.8..10.0, step: 0.1)
  = f.label :diafmax
  = f.number_field(:diafmax, in: 0.8..10.0, step: 0.1)
  = f.label :macro
  = f.check_box :macro
  = f.label :weather
  = f.check_box :weather
div
  = f.label :link1
  = f.text_field :link1, size: 61
div
  = f.label :link2
  = f.text_field :link2, size: 61