- unless @lensmodels.empty?
  h1 Объективы:
  table class="table" id="lensmodels"
    thead
      tr
        th Mount:
        th Brand:
        th Наименование:
        th Кол-во:
        th min:
        th max:
        th min:
        th max:
    tbody
      - @lensmodels.each do |lensmodel|
        tr
          td = lensmodel.mount
          td = lensmodel.brand
          td = link_to (lensmodel.name), lensmodel_path(lensmodel)
          td = lensmodel.quantity
          td = lensmodel.frmin
          td = lensmodel.frmax if lensmodel.frmin != lensmodel.frmax
          td = lensmodel.diafmin
          td = lensmodel.diafmax if lensmodel.diafmin != lensmodel.diafmax
- else
  h4 Список пуст! зайди в rails консоль на сервере и добавь вручную!