- if can?(:create, Lensmodel)
  = link_to "Редактировать?", edit_lensmodel_path(@lensmodel)
  i &nbsp; или &nbsp;
  = link_to "Удалить?", @lensmodel, method: :delete, data: {confirm: "Подтверждение удаления"}
h2 = (@lensmodel.mount + ' ' + @lensmodel.brand + ' ' + @lensmodel.name + ' ' + @lensmodel.quantity.to_s)
- unless @lensitems.empty?
  table class="table" id="lensitems"
    thead
      tr
        th Фото:
        th Пользователь email:
        th Цена:
        th Создан:
        th Изменен:
    tbody
      - @lensitems.each do |lensitem|
        tr
          td = image_tag lensitem.image.thumb
          td = link_to (lensitem.user.email), user_path(lensitem.user_id)
          td = link_to (lensitem.price), lensitem_path(lensitem)
          td = lensitem.created_at.strftime("%d.%m.%Y")
          td = lensitem.updated_at.strftime("%d.%m.%Y") if lensitem.created_at != lensitem.updated_at
- else
  h4 Таких объективов в продаже пока НЕТ!

= render 'comments/list', parent: @lensmodel