<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=33265193&amp;from=informer"
   target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/33265193/3_0_8686FFFF_6666FFFF_0_pageviews"
                                       style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:33265193,lang:'ru'});return false}catch(e){}" /></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script src="https://mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
<script type="text/javascript">
    try {
        var yaCounter33265193 = new Ya.Metrika({
            id:33265193,
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    } catch(e) { }
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/33265193" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- begin of Top100 code -->
<script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?3140660"></script>
<noscript>
  <a href="http://top100.rambler.ru/navi/3140660/">
    <img src="http://counter.rambler.ru/top100.cnt?3140660" alt="Rambler's Top100" border="0" />
  </a>
</noscript>
<!-- end of Top100 code -->

<!-- Rating@Mail.ru counter -->
<script type="text/javascript">
    var _tmr = window._tmr || (window._tmr = []);
    _tmr.push({id: "2703286", type: "pageView", start: (new Date()).getTime()});
    (function (d, w, id) {
        if (d.getElementById(id)) return;
        var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
        ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
        var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
        if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
    })(document, window, "topmailru-code");
</script><noscript><div style="position:absolute;left:-10000px;">
  <img src="//top-fwz1.mail.ru/counter?id=2703286;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
</div></noscript>
<!-- //Rating@Mail.ru counter -->

<!-- Rating@Mail.ru logo -->
<a href="http://top.mail.ru/jump?from=2703286">
  <img src="//top-fwz1.mail.ru/counter?id=2703286;t=479;l=1"
       style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" /></a>
<!-- //Rating@Mail.ru logo -->

<!--Openstat-->
<span id="openstat1"></span>
<script type="text/javascript">
    var openstat = { counter: 1, image: 87, color: "458efc", next: openstat };
    (function(d, t, p) {
        var j = d.createElement(t); j.async = true; j.type = "text/javascript";
        j.src = ("https:" == p ? "https:" : "http:") + "//openstat.net/cnt.js";
        var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
    })(document, "script", document.location.protocol);
</script>
<!--/Openstat-->