doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title= content_for?(:title) ? yield(:title) : "Lensprice"
    = csrf_meta_tags

    /! Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"

  body
    .navbar.navbar-default.navbar-static-top
      .container
        button.navbar-toggle type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse"
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand href="/"LENSPRICE.RU
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav
            - if current_user
              li = link_to "Продать объектив", new_lensitem_path
              li = link_to "Продать камеру", new_cameraitem_path
              li = link_to current_user.email, user_path(current_user)
              li = link_to "Выйти", destroy_user_session_path
            - else
              li = link_to "Войти", new_user_session_path
              li = link_to "Регистрация", new_user_registration_path
    .container
      .row
        .col-lg-9
          = bootstrap_flash
          = yield
        .col-lg-3
          .well.sidebar-nav
            h3 На сайте:
            ul.nav.nav-list
              li.nav-header Модели:
              li = link_to "Объективы #{Lensmodel.all.size}", lensmodels_path
              li = link_to "Камеры #{Cameramodel.all.size}", cameramodels_path
              li.nav-header В продаже:
              li = link_to "Все объективы #{Lensitem.all.size}", lensitems_path
              li = link_to "Все камеры #{Cameraitem.all.size}", cameraitems_path
              li.nav-header Пользователи:
              li = link_to "Все пользователи #{User.all.size}", users_path
              - if current_user
                - if can?(:create, [Lensmodel, Cameramodel])
                  li.nav-header Добавить в базу модель:
                  li = link_to "объектива", new_lensmodel_path
                  li = link_to "камеры", new_cameramodel_path

      footer
        i &copy; Lensprice 2015
        = render 'layouts/banner'